<div class="flex justify-center">
<a href="#" class="flex flex-col items-center bg-dark border bg-orange-100 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-orange-300 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDzeQGKQEvWVsAoaERKwYVI5F2KEUDsNU9ZGXhB7DMZ7c7iuwUMpm1Rj-7-K2YEaBFh_g&usqp=CAU" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Misión</h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{mision}}</p>
    </div>
</a>

</div>

